<ion-header>

    <ion-navbar>
        <ion-title>{{ report.name }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-header>
                {{report.endDate | date:'shortDate'}} - {{report.startDate}}
            </ion-card-header>
            <ion-card-content>
                <p>{{report.created | date:'shortDate'}}</p>
            </ion-card-content>
        </ion-card>
        <ion-item>
            <ion-list>
                <ion-list-header>{{'EXPENSE_LIST' | translate}}</ion-list-header>
                <ion-item-sliding *ngFor="let r of expenses">
                    <ion-item>
                        <button ion-item (click)="open(r)">
                            <h2>{{r.amount | currency: 'USD' : true : '.2-2' }}</h2>
                            <p>{{r.created | date:'shortDate'}}</p>
                            <ion-note item-right *ngIf="r.description">{{r.description}}</ion-note>
                        </button>
                    </ion-item>
                    <ion-item-options>
                        <button ion-button color="danger" (click)="delete(r)">
                            <ion-icon name="trash"></ion-icon>
                            {{ 'DELETE_BUTTON' | translate }}
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-item>
    </ion-list>


</ion-content>
