<ion-header>

    <ion-navbar>
        <ion-title>{{ report.name }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item>

        <div class="report-detail" padding>
            <p>{{report.endDate}} - {{report.startDate}}</p>
            <p>{{report.created}}</p>
        </div>

    </ion-item>
    <ion-item>

        <ion-card>
            <ion-card-header>{{'EXPENSES_TITLE' || translate}}
                <ion-buttons end>
                    <button ion-button icon-only (click)="add()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-card-header>
            <ion-card-content>

                <ion-list>
                    <ion-item-sliding *ngFor="let r of expenses">
                        <button ion-item (click)="open(r)">
                            <h2>{{r.amount}}</h2>
                            <p>{{r.created}}</p>
                            <ion-note item-right *ngIf="r.description">{{r.description}}</ion-note>
                        </button>

                        <ion-item-options>
                            <button ion-button color="danger" (click)="delete(r)">
                                {{ 'DELETE_BUTTON' | translate }}
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>

            </ion-card-content>
        </ion-card>

    </ion-item>
</ion-content>
