page-report-detail {
  .report-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .report-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
